/* reset */
:root{
    --main-bg: black;
    --main-text-color: white;
    --primary-font: sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
}
body{
    background-color: var(--main-bg);
}
/* typography */
body, p, h1, h2, h3, h4, h5, h6, a, span, li, button {
  color: var(--main-text-color);
  font-family: var(--primary-font);
}
footer{
    
}