/* -------------------- VARIABLES -------------------- */                   
:root {
  --main-bg: #fbfffd;
  --sec-bg: #afd4ce;
  --text-color: #4c625e;
  --primary-font: "Lexend", sans-serif;
  --focus-outline: #425f50;
}

/* -------------------- RESET -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}
html{
  background-color: var(--main-bg);
}

/* -------------------- TYPOGRAPHY -------------------- */
body, p, h1, h2, h3, h4, h5, h6, a, span, li, button {
  color: var(--text-color);
  font-family: var(--primary-font);
}
li {
  list-style-type: none;
}

/* -------------------- LAYOUT -------------------- */
.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.nav-bar{
  display:flex;
  flex: 1;
  gap: 3rem; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--sec-bg) ;
}

.nav-links a{
  text-decoration: none;
  font-size: 3.6rem;
}

/* -------------------- MAIN -------------------- */
main {
  flex: 2;
  padding: 2rem;
  display: flex;
}

/* -------------------- KEYBOARD NAVIGATION -------------------- */
a:focus, button:focus {
  outline: 2px solid var(--focus-outline);
  outline-offset: 2px;
}

.footer-container {
  color: var(--text-color);
  text-align: center;
  padding: 1.25rem;
  font-size: 0.9rem;
  background-color: var(--sec-bg);
}
.footer-container p {
  margin-bottom: 1rem;
}
.footer-links {
  margin-top: 10px;
}
.footer-links a img {
  height: 1.5rem;
  margin: 0 0.5rem;
}

h1 .my-name{
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 8rem;
}